/*
  Global stylesheet for the Customers component
 */

.container {
  background-image: url("/images/Customers/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
