@media screen and (min-width: 993px) {
  .slider_container {
    width: 970px;
    padding-bottom: 90px;
  }
  .left_slider {
    display: flex;
    width: 195px;
  }
  .right_slider_item {
    width: 773px;
  }
  .right_slider_item > div:nth-of-type(1) {
    width: 710px;
    height: 375px;
  }
  .right_slider_item_description {
    width: 95%;
    font-size: 16px;
  }
}
