/*
  This is the mobile responsive file for Header module
*/
@media screen and (min-width: 320px) {
  .background_slider {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
  .background_slider > div::after {
    color: gray;
    background: white;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    transition: all 0.2s ease-in;
  }
  .background_slider > div > span {
    width: 16px;
    height: 16px;
    border-radius: 0;
    background-color: #acafb5;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .background_slider > div > span[class*="swiper-pagination-bullet-active"] {
    background-color: #deb150;
  }

  .background_slider > div:hover::after {
    color: white;
    background: #deb150;
  }

  .head_top {
    height: 84px;
    flex-wrap: wrap;
    background-color: #000;
    z-index: 3;
    position: relative;
  }
  .headtop_left {
    flex: 0 0 100%;
    height: 30%;
    justify-content: center;
    z-index: 3;
  }
  .headtop_left > a {
    font-size: 13px;
  }
  .headtop_left > a > span {
    font-size: 13px;
  }
  .headtop_bottom {
    flex: 0 0 100%;
    height: 60%;
    justify-content: center;
    z-index: 3;
  }
  .headtop_bottom > a:nth-of-type(1) {
    margin: 0 10px;
    font-size: 13px;
  }
  .headtop_bottom > a:nth-of-type(2) {
    font-size: 13px;
    margin: 0 10px;
  }
  .headtop_bottom > a > svg {
    margin-right: 6px;
    color: #deb150;
  }
  .head_bottom {
    height: 86px;
    // align-items: end;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .head_logo {
    flex: 0 0 58.5%;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
    z-index: 3;
  }
  .head_logo > div {
    width: 168px;
    height: 55px;
  }
  .head_menu {
    flex: 0 0 100%;
  }
  .head_menu > nav {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 993px) {
  .head_menu {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    height: 250px;
  }
  .head_menu > nav {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
    border-top: 1px solid #d7d7d7;
    padding: 20px 0 0;
    display: block;
  }
  .head_menu > nav > ul {
    flex-wrap: wrap;
    height: 100%;
  }
  .head_menu > nav > ul > li {
    font-size: 13px;
    width: 100%;
  }
  .navbar_toggle_menu {
    display: block;
  }
}
