/*
  This is the PC responsive file for Header module
*/
@media screen and (min-width: 1440px) {
  .headtop_left {
    flex: 0 0 24.5%;
  }
  .headtop_bottom {
    flex: 0 0 26%;
  }
  .headtop_bottom > a:nth-of-type(1) {
    font-size: 13px;
  }
  .headtop_bottom > a:nth-of-type(2) {
    font-size: 13px;
  }
}
