@media screen and (min-width: 1201px) {
  .animation_two {
    right: -100px;
  }
  .menu_left_image {
    margin-right: 35px;
  }
  .menu_right_items {
    width: 665px;
  }
  .menu_item_image {
    margin-right: 20px;
  }
  .menu_item_content {
    flex: 0 0 80%;
    max-width: 80%;
    padding-left: 0px;
  }
}
