@media screen and (min-width: 1201px) {
  .animation_two {
    right: -100px;
  }
  .menu_left_image {
    margin-right: 35px;
  }
  .menu_right_items {
    width: 665px;
  }
  .menu_item_image {
    margin-right: 20px;
  }
  .menu_item_content {
    flex: 0 0 80%;
    max-width: 80%;
    padding-left: 0px;
  }
  .tab_item_container > .tab_item[data-id="0"] {
    left: 25vw;
  }
  .tab_item_container > .tab_item[data-id="1"] {
    left: 37.5vw;
  }
  .tab_item_container > .tab_item[data-id="2"] {
    left: 50vw;
  }
  .tab_item_container > .tab_item[data-id="3"] {
    left: 62vw;
  }
}
