@media screen and (min-width: 576px) {
  .menu_left_figure {
    width: 89%;
    height: 527px;
    position: relative;
    margin-bottom: 60px;
  }
  .menu_right_items {
    z-index: 10;
    width: 91%;
  }
  .Second_title {
    font-size: 50px;
  }
}
