@media screen and (min-width: 576px) {
  .menu_left_figure {
    width: 99%;
    height: 106vw;
    position: relative;
    margin-bottom: 60px;
  }
  .menu_right_items {
    z-index: 10;
    width: 96%;
  }
  .Second_title {
    font-size: 50px;
  }
}
