@media screen and (min-width: 768px) {
  .menu_box {
    position: relative;
  }
  .tab_item {
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    width: auto;
    padding: 10px 30px;
    margin: 0 4px 25px 0;
    list-style: none;
    cursor: pointer;
    text-transform: uppercase;
    background: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0;
    color: #9a9da5;
    position: absolute;
    top: 0%;
  }
  .tab_item_container > .tab_item[data-id="0"] {
    left: 11vw;
  }
  .tab_item_container > .tab_item[data-id="1"] {
    left: 30vw;
  }
  .tab_item_container > .tab_item[data-id="2"] {
    left: 49vw;
  }
  .tab_item_container > .tab_item[data-id="3"] {
    left: 68vw;
  }
  .tab_item_container {
    margin-top: 25px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .tab_item_container li:nth-of-type(2) {
    display: inline-block;
  }
  .menu_left_figure {
    width: 690px;
    height: 816px;
    position: relative;
    margin-bottom: 60px;
  }
  .menu_right_items {
    z-index: 10;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu_item {
    flex-wrap: nowrap;
    flex: 0 0 95%;
    max-width: 95%;
  }
  .menu_item_image {
    margin-bottom: 0px;
  }
  .menu_item_content {
    margin-left: 0px;
    flex: 0 0 80%;
    max-width: 80%;
  }
  .menu_list {
    margin-top: 30px;
  }
}
