@media screen and (min-width: 993px) {
  .slider_container {
    margin: 200px auto !important;
    width: 735px;
    height: 560px;
  }
  .slider_item_image_container {
    width: 735px;
    height: 560px;
  }
}
