@media screen and (min-width: 1201px) {
  .slider_container {
    margin: 138px auto !important;
    width: 900px;
    height: 600px;
  }
  .slider_item_image_container {
    width: 900px;
    height: 600px;
  }
}
