@media screen and (min-width: 576px) {
  .slider_container {
    margin: 270px auto !important;
    width: 546px;
    height: 364px;
  }
  .slider_item_image_container {
    width: 546px;
    height: 364px;
  }
}
