@media screen and (min-width: 320px) {
  .slider_container {
    margin: 270px auto !important;
    width: 90vw;
    height: 61vw;
  }
  .slider_item_image_container {
    width: 90vw;
    height: 61vw;
  }
}
