@media screen and (min-width: 576px) {
  .head_bottom {
    height: 86px;
    align-items: center;
    z-index: 3;
  }
  .head_logo {
    flex: 0 0 30.5%;
    justify-content: right;
    padding-left: 0px;
    z-index: 3;
  }
  .head_logo > div {
    width: 150px;
    height: 50px;
  }
}
