@media screen and (min-width: 993px) {
  .animation_one {
    left: 0px;
    display: block;
  }
  .animation_two {
    right: 0px;
    display: block;
  }
  .animation_three {
    display: block;
  }
  .statics_container {
    width: 970px;
  }
  .static {
    width: 25%;
    padding: 0px 0px 0px 0px;
  }

  .static_description {
    padding: 35px 0 0 0;
  }
}
