@media screen and (min-width: 993px) {
  .customers_slider {
    width: 96.98vw;
  }
  .item {
    width: 32.83vw !important;
    margin-right: 7.5vw !important;
    margin-left: 8vw;
  }
  .item_title {
    line-height: 25px;
  }
}
