@media screen and (min-width: 1201px) {
  .customers_slider {
    width: 1170px;
  }
  .item {
    width: 430px !important;
    margin-right: 78px !important;
    margin-left: 78px;
  }
  .item_paragraph {
    font-size: 15px;
  }
  .item_title {
    line-height: 20px;
  }
}
