@media screen and (min-width: 576px) {
  .customers_slider {
    padding-bottom: 110px;
  }
  .item {
    width: 96.702vw !important;
    margin-left: 1.7vw;
    margin-right: 1.7vw !important;
  }
  .item_paragraph {
    font-size: 16px;
  }
  .item_title {
    line-height: 20px;
  }
  .last_heading {
    font-size: 55px;
  }
}
