@media screen and (min-width: 320px) {
  .customers_slider {
    width: 100vw;
    // padding: 50px 10px;
    padding-bottom: 130px;
  }
  .item {
    width: 94vw !important;
    margin-left: 3vw;
    margin-right: 3vw !important;
  }
  .item_paragraph {
    font-size: 15px;
  }
  .item_title {
    line-height: 25px;
  }
  .last_heading {
    font-size: 40px;
  }
}
