/*
  This is the miniTablet responsive file for Slider component
*/

@media screen and (min-width: 576px) {
  .slider_item {
    height: 119%;
  }
  .slider_item > h2 {
    font-size: 35px;
  }
  .slider_item > h3 {
    font-size: 50px;
  }
  .slider_item > p {
    padding-bottom: 15px;
    padding: 5px 21px;
    letter-spacing: 2;
  }
  .slider_item > div[class*="slide_item_buttons"] {
    padding-top: 10px;
  }
}
