/*
  This is the mobile responsive file for Slider componenet
*/

@media screen and (min-width: 320px) {
  .slider_item {
    height: 130%;
  }
  .slider_item > div:nth-of-type(1) {
    padding-bottom: 5px;
  }
  .slider_item > h2 {
    font-size: 30px;
  }
  .slider_item > h3 {
    font-size: 32px;
  }
  .slider_item > p {
    text-align: center;
    font-size: 14px;
    padding: 10px 21px;
  }
  .slider_item > div[class*="slide_item_buttons"] {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .background_slider > div[class*="swiper-button"]::after {
    visibility: hidden;
  }
}
