/*
  Global stylesheets for the Statics component
 */

.container {
  width: 100%;
  height: max-content;
  background-image: url("/images/aboutus/body-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
