/*
    Global stylesheet for the Team component
*/

.container {
  width: 100%;
  height: auto;
  background-image: url("/images/aboutus/body-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  background-repeat: no-repeat;
  position: relative;
}
.animations_container {
  width: 210px;
  position: absolute;
  display: flex;
  justify-content: space-around;
}
.animations_container > div {
  display: inline;
  width: max-content;
}

// .animations_container > div:first-child {
//   display: grid;
//   grid-template-columns: 100% 100%;
//   column-gap: 1vw;
//   width: max-content;
// }
.animations_container_two {
  position: absolute;
  right: 90px;
  bottom: 30px;
}

.header {
  text-align: center;
}

.first_heading {
  padding: 60px 0px 15px 0px;
  font-family: "Allura", cursive;
  font-size: 45px;
  font-weight: normal;
  line-height: 1;
  color: #deb150;
}
.last_heading {
  color: #ffffff;
  font-size: 55px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 30px 0;
}
