/*
    Global stylesheet for the Team component
*/

.container {
  width: 100%;
  height: auto;
  background-image: url("/images/BookTable/book-table-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.animations_container {
  width: 210px;
  position: absolute;
  display: flex;
  justify-content: space-around;
}
.animations_container > div {
  display: inline;
  width: max-content;
}
.header {
  text-align: center;
}
.first_heading {
  padding: 60px 0px 15px 0px;
  font-family: "Allura", cursive;
  font-size: 45px;
  font-weight: normal;
  line-height: 1;
  color: #deb150;
}
.last_heading {
  color: #ffffff;
  font-size: 55px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 30px 0;
}
