/*
  Global Stylesheet for the GallerySlider
 */
.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 10000;
}

.slider_item_image_container {
  width: 70vw;
  height: 30vw;
}
