.container {
  position: relative;
  width: 100%;
  height: max-content;
  background-image: url("/images/UpcomingEvents/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
