@media screen and (min-width: 320px) {
  .animation_container {
    > .animation_one,
    .animation_two,
    .animation_three {
      visibility: hidden;
      opacity: 0;
    }
  }
  .gallery {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 292px;
    height: 2380px;
  }
  .gallery_item_image {
    margin: 0 auto;
  }
  .tab_item {
    width: 100%;
    display: block;
    background-color: transparent;
  }
}
