/*
    Global stylesheet for the BookTable component
*/

.container {
  width: 100vw;
  height: max-content;
  background-image: url("/images/BookTable/book-table-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
