body {
  direction: ltr;
  font-size: 100%;
  font-family: "Allura", cursive;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

/* html,
body,
#__next {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

header,
aside,
nav,
main,
footer,
section,
figure,
figcaption,
article {
  display: block;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

* {
  box-sizing: border-box;
}

[class*="wrapper-"],
[class*="col-"] {
  float: left;
}
.stiky {
  position: fixed !important;
  top: 0;
  width: 100%;
  animation: fadeInDown;
  animation-duration: 400ms;
  background-color: rgba(0, 0, 0, 0.8) !important;
}
