.head_bottom {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  height: 8%;
  align-items: center;
}
.head_logo {
  display: flex;
  flex: 0 0 23.5%;
  height: 100%;
  justify-content: right;
}

.head_logo > div {
  width: 168px;
  height: 55px;
}

.head_menu {
  display: flex;
  flex: 0 0 8%;
  height: 100%;
  align-items: center;
  position: relative;
  visibility: visible;
}

.head_menu > nav {
  width: 100%;
  position: absolute;
}

.head_menu > nav > ul {
  display: grid;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
}

.head_menu > nav > ul > li {
  //display: inline;
  //padding: 0 17px;
  font-size: 18px;
}

/*.background_slider .navbar_toggle_menu {
  // padding-right: 10px;
  // padding-right: 20px;
  // padding-top: 21px;
  cursor: pointer;
}*/

.navbar_toggle_menu {
  padding-right: 25px;
  padding-top: 18px;
}

.navbar_toggle_menu > span {
  width: 40px;
  display: block;
  clear: both;
  margin-bottom: 6px;
  height: 4px;
  background-color: white;
  transition: 400ms ease;
  transition-property: opacity, transform;
  opacity: 1;
  transform-origin: top left;
  transform: rotate(0);
}
.navbar_toggle_menu[active] > span:nth-child(1) {
  transform: rotate(45deg);
  transition-delay: 200ms;
  margin-left: 2px;
}

.navbar_toggle_menu[active] > span:nth-child(2) {
  opacity: 0;
}

.navbar_toggle_menu[active] > span:nth-child(3) {
  transform: rotate(-45deg);
  transition-delay: 200ms;
  margin-top: 13px;
}
