/*
    Large laptop responsive for the OfferBox Component
*/
@media screen and (min-width: 1201px) {
  .container {
    width: 1170px;
  }
  .offerbox_heading3 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .offerboxes > div > div {
    height: 95%;
  }
  .offerboxes > div > div > div {
    padding: 58 px 20 px !important;
  }
  .offerboxes h3 {
    padding-top: 30px;
  }
  .price > span:first-child {
    padding-right: 12px;
  }
  .discount_percent {
    margin: 5px auto 17px auto;
    font-size: 23px;
    max-width: 142px;
  }
  .offerbox_content {
    padding: 10px 0px 5px 0px;
    line-height: 31px;
  }
}
