/*
    Tablet responsive for the OfferBox component
*/

@media screen and (min-width: 768px) {
  .container > h1 {
    font-size: 50px;
    line-height: 1.2;
  }
  .offerbox_heading3 {
    margin: 10px 0px 30px 0px;
    line-height: 1;
    font-size: 35px;
  }
  .discount_percent {
    margin: 20px auto 10px auto;
  }
  .price {
    padding: 15px 0 20px 0;
  }
  .offerbox_content {
    padding: 15px 0 20px 0px;
  }
}
